{% extends "base.html" %}

{% block content %}
<div class="container container-padding">
    <h2 class="font-weight-light text-center text-dark mb-5">Авторизация</h2>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
            {% for field in form if field.name != 'csrf_token' and field.name != 'submit' %}
                <div class="row justify-content-center">
                    <div class="col-sm-6 ">
                        {{ field.label() }}<br>
                        {{ field(class="form-control") }}<br>
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center p-5">
                {{ form.submit(type="submit", class="btn btn-primary") }}
            </div>
    </form>
</div>
{% endblock %}